<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-08-15-old-post-01.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363003</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-15-old-post-02.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363098</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-15-welcome-to-jekyll.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363098</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-16-old-post-03.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363199</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-16-old-post-04.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363199</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-16-old-post-05.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363301</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-16-old-post-06.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363301</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-22-old-post-07.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363402</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-29-zhen-jiu-da-cheng.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363402</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-story-01.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363497</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-07-story-02.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363599</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-11-23-story-03.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363599</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-30-story-04.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.14363599</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-14-story-05.md</key>
			<dict>
				<key>lastModification</key>
				<real>511883640.98378497</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2017-02-20-belgium-travel.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>511883591.143637</real>
				<key>version</key>
				<dict>
					<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-08-15-old-post-01.markdown</string>
		</array>
		<array>
			<string>2016-08-15-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2016-08-15-old-post-02.markdown</string>
		</array>
		<array>
			<string>2016-08-16-old-post-03.markdown</string>
		</array>
		<array>
			<string>2016-08-16-old-post-04.markdown</string>
		</array>
		<array>
			<string>2016-08-16-old-post-06.markdown</string>
		</array>
		<array>
			<string>2016-08-16-old-post-05.markdown</string>
		</array>
		<array>
			<string>2016-08-22-old-post-07.markdown</string>
		</array>
		<array>
			<string>2016-08-29-zhen-jiu-da-cheng.markdown</string>
		</array>
		<array>
			<string>2016-09-04-story-01.markdown</string>
		</array>
		<array>
			<string>2017-02-14-story-05.md</string>
		</array>
		<array>
			<string>2016-11-07-story-02.markdown</string>
		</array>
		<array>
			<string>2016-11-23-story-03.markdown</string>
		</array>
		<array>
			<string>2016-12-30-story-04.markdown</string>
		</array>
		<array>
			<string>2017-02-20-belgium-travel.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>4bb4c63aa96abc30d154fc5de1fa6cf366b3131fd78c09d5e975345c6aafaa7f</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
